<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rui's News Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is Rui's project to create personal news feed.</p>
  <hr class="my-4">
  <p>work in progress ...</p>

    <!-- <a class="btn btn-primary btn-lg" href="/MentalHealth" role="button">Mental Health</a>
    <a class="btn btn-primary btn-lg" href="/Time" role="button">Life Time</a>
    <a class="btn btn-primary btn-lg" href="/HarryPotter" role="button">Harry Potter</a> -->

    <br>
    <br>
    <div class="card" style="width: 18rem;">
        {#Image Classification Card#}
      <div class="card-body">
        

        <form method="POST">
          {{ form.hidden_tag() }}
          <h5 class="card-title">{{ form.date_field.label }}</h5> 
          {{ form.date_field() }}
          {{ form.submit_field() }}
        </form>

        <br>

        <h5 class="card-title">Or get today's techcrunch article</h5>
        <a href="/Techcrunch/today" class="btn btn-primary btn-lg">Get</a>
      </div>
    </div>
</div>

</body>
</html>