{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is Rui's project to create personal news feed.</p>
    <hr class="my-4">
    <p>work in progress ...</p>

      <br>
      <br>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          
          <form method="POST">
            {{ form.hidden_tag() }}
            <h5 class="card-title">{{ form.date_field.label }}</h5> 
            {{ form.date_field(class_="form-control") }}
            {{ form.submit_field(class_="btn btn-primary") }}
          </form>

          <br>

          <h5 class="card-title">Or get today's techcrunch article</h5>
          <a href="/Techcrunch/today" class="btn btn-primary">Get</a>
        </div>
      </div>
  </div>
{% endblock %}