{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Here is {{ dateStr }} techcrunch article</h1>
    <br>

    <!-- Redriect bar to prev, next or random date article listing -->
    <nav class="nav nav-pills nav-fill">
        <a class="flex-sm-right text-sm-left nav-link active" href="/Techcrunch/{{dateStr}}/prev">Prev Date</a>
        <a class="nav-item nav-link disabled" href="/Techcrunch/{{dateStr}}/rand" tabindex="-1" aria-disabled="true">Random</a>
        <a class="flex-sm-left text-sm-right nav-link active" href="/Techcrunch/{{dateStr}}/next">Next Date</a>
    </nav>
    <br>

    <!-- unordered list of articles -->
    <div>
        {% for article in article_list %}
        <div id="Article_{{ article['title'] }}""> 
            <a href={{ article['url'] }} class="list-group-item list-group-item-primary" target="_blank" rel="noopener noreferrer">
                {{ article['title'] }}
            </a>

            {% if session['uid'] %}
            <form method="POST" action="/Techcrunch/{{dateStr}}">
                <input type="hidden" name="article_list" value="{{ article_list }}" />
                <input type="hidden" name="date" value="{{ dateStr }}" />
                <input type="hidden" name="title" value="{{ article['title'] }}"/>
                <input type="hidden" name="label" value="{{ article['label'] }}"/>

                {% if article['label'] == 'like' %}
                <button type="button" class="btn btn-secondary" disabled>Like</button>
                {% else %}
                <input type="submit" name="action" value="Like" class="btn btn-success"/>
                {% endif %}
                {% if article['label'] == 'dislike' %}
                <button type="button" class="btn btn-secondary" disabled>Dislike</button>
                {% else %}
                <input type="submit" name="action" value="Dislike" class="btn btn-danger"/>
                {% endif %}
                {% if article['label'] == 'uncertain' %}
                <button type="button" class="btn btn-secondary" disabled>Uncertain</button>
                {% else %}
                <input type="submit" name="action" value="Uncertain" class="btn btn-warning"/>
                {% endif %}
            </form>      
            {% endif %}          
        </div>

        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}