{% extends "base.html" %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is Rui's project to create personal news feed.</p>
    <hr class="my-4">
    <p>work in progress ...</p>

      <br>
      <br>
      <div class="card" style="width: 30rem;">
        <div class="card-body">

          <form class="form-inline" method="POST" action="/">
            <h5 class="card-title">Get articles from specific date (yyyy-mm-dd):</h5>
            <div class="md-form w-50 input-group">
              <div class="jquery-datepicker">
                <input type="text" name="date" class="form-control jquery-datepicker__input">
                <input type="hidden" name="action" value="pickdate">
                <button class="btn btn-primary" type="submit">Go</button>
              </div>
            </div>
          </form>
          

          <br>

          <h5 class="card-title">Or get today's techcrunch article</h5>
          <a href="/Techcrunch/today" class="btn btn-primary">Get</a>
            
        </div>
      </div>
  </div>

  <!-- this somehow has be to placed below the html element -->
  <link href="{{url_for('static', filename='css/datepicker.css')}}" rel="stylesheet">
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-datepicker.js')}}"></script>
{% endblock %}