{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center text-black-50">
    {% if session['uid'] %}
    <h1 class="display-4">Hello, {{session['uid']}}!</h1>
    {% else %}
    <h1 class="display-4">Hello, world!</h1>
    {% endif %}
    <p class="lead">This is my project to create personalized news feed. Thanks for using!</p>
    <hr class="my-4">
    <p>work in progress ...</p>

      <br>
      <br>
      <div class="card mx-auto text-center" style="width: 30rem;">
        <div class="card-body">

            <h5 class="card-title text-center">Get articles from specific date:</h5>
            <form class="form-inline" method="POST" action="/">
            
            <div class="md-form w-50 input-group mx-auto">
                <div class="jquery-datepicker">
                <input type="text" name="date" class="form-control jquery-datepicker__input">
                <input type="hidden" name="action" value="pickdate">
                <button class="btn white-text" type="submit" style="background-color:#7986cb">Go</button>
                </div>
            </div>
            </form>

          <br>

          <h5 class="card-title">Or get today's techcrunch article</h5>
          <a href="/Techcrunch/today" class="btn white-text" style="background-color:#7986cb">Get</a>
            
        </div>
      </div>
  </div>

  <!-- this somehow has be to placed below the html element -->
  <link href="{{url_for('static', filename='css/datepicker.css')}}" rel="stylesheet">
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-datepicker.js')}}"></script>
{% endblock %}